<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twofours.surespot"
    android:versionCode="3"
    android:versionName="770d5ff" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <permission
        android:name="com.twofours.surespot.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.twofours.surespot.permission.C2D_MESSAGE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.twofours.surespot.SurespotApplication"
        android:allowBackup="true"
        android:backupAgent="com.twofours.surespot.identity.IdentityBackupAgent"
        android:icon="@drawable/surespotlauncher"
        android:label="surespot"
        android:restoreAnyVersion="true"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIfhPGGcOOEJzHP0ssWg_ZRBMITC3JjpZ93TpymQ" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.twofours.surespot" />
            </intent-filter>
        </receiver>

        <!-- Used for install referral measurement -->
        <service android:name="com.google.analytics.tracking.android.CampaignTrackingService" />

        <receiver android:name="com.twofours.surespot.SurespotBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.twofours.surespot.GCMIntentService" />
        <service
            android:name="com.twofours.surespot.services.CredentialCachingService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.twofours.surespot.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="adjustResize|stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.twofours.surespot.activities.SignupActivity"
            android:label="@string/title_activity_signup"
            android:noHistory="true"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.twofours.surespot.activities.LoginActivity"
            android:label="login"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity android:name="com.twofours.surespot.images.ImageViewActivity" >
        </activity>
        <activity
            android:name="com.twofours.surespot.images.ImageSelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.twofours.surespot.activities.SettingsActivity"
            android:parentActivityName="com.actionbarsherlock.app.SherlockPreferenceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.actionbarsherlock.app.SherlockPreferenceActivity" />
        </activity>
        <activity android:name="com.twofours.surespot.identity.ExportIdentityActivity" >
            <intent-filter>
                <action android:name="com.twofours.surespot.identity.ExportIdentityActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.twofours.surespot.identity.ImportIdentityActivity" >
            <intent-filter>
                <action android:name="com.twofours.surespot.identity.ImportIdentityActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.twofours.surespot.activities.ManageKeysActivity" >
            <intent-filter>
                <action android:name="com.twofours.surespot.activities.ManageKeysActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.twofours.surespot.identity.DeleteIdentityActivity" >
            <intent-filter>
                <action android:name="com.twofours.surespot.identity.DeleteIdentityActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.twofours.surespot.identity.ChangePasswordActivity" >
            <intent-filter>
                <action android:name="com.twofours.surespot.identity.ChangePasswordActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.twofours.surespot.activities.ExternalInviteActivity"
            android:label="@string/title_activity_external_invite"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.twofours.surespot.ContactPickerActivity"
            android:label="@string/title_activity_contact_picker" >
        </activity>
        <activity
            android:name="com.twofours.surespot.billing.BillingActivity"
            android:label="@string/title_activity_billing" >
            <intent-filter>
                <action android:name="com.twofours.surespot.billing.BillingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>